.App {
  text-align: center;
}

.page-buttons {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 100;
  width: 100%;
  padding: 15px;
}
.page-info button {
  margin: 0px 5px;
}