.App {
  text-align: center;
}

.page-buttons {
  text-align: center;
  width: 100%;
  padding: 15px;
}
.page-info button {
  margin: 0px 5px;
}
.item {
  background: hsla(0,0%,39%,.25);
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
.item-image-container {
  display: grid;
  place-items: center;
}
.item-image {
  position: relative;
  overflow: hidden;
  width: fit-content;
}